In [7]:
#show first 10 data by shell script
!head -n 10 /home/kyohei/pydata-book/ch02/names/yob1880.txt

In [8]:
import pandas as pd

In [9]:
#read many tat files as pandas dataframe,read and concantate many filese

years = range(1880,2011)

pieces = []
columns = ['name','sex','births']

for year in years:
    path = '/home/kyohei/pydata-book/ch02/names/yob%d.txt' %year
    frame = pd.read_csv(path,names=columns)
    
    frame['year'] = year
    pieces.append(frame)

names = pd.concat(pieces,ignore_index=True)

In [10]:
names.head()

        name sex  births  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880

In [12]:
#calculate number of birth by sex
total_birth = names.pivot_table('births',index='year',columns='sex',aggfunc=sum)

In [14]:
total_birth.head()

sex        F       M
year
1880   90993  110493
1881   91955  100748
1882  107851  113687
1883  112322  104632
1884  129021  114445

In [15]:
#calculate ratio of name to whole, called 'prop'

### home work
- ある特定の名前の出現頻度が、年代順にどのように移り変わるのかを視覚的に表示してみる。
- ある名前の相対頻度を求めてみる。（どれくらいありふれた名前か、あるいは珍しい名前か）
- 年ごとに、最も人気のあった名前はや、前年と比べて最も増加した名前、もしくは減少した名前を求める。
- 名前付けの傾向を分析してみる：どんな母音が多いのか、どんな子音が多いのか、また多様性はどうか、スペルが変化しているか。最初の文字で最も多いものは何か、松尾の文字で多いものは何か
- 傾向の外部要因を分析してみる。聖書に出てくる名前はどうか、著名人の名前はどうか、別の観点で、人口動態の変化はわかるか